<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091120591415-kg0gluvs6atgrt1lqidn62gobdke914m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091120591415-kg0gluvs6atgrt1lqidn62gobdke914m</string>
	<key>API_KEY</key>
	<string>AIzaSyCfMbATLqMykAm9plg_8XZ7fHiiqGHwExY</string>
	<key>GCM_SENDER_ID</key>
	<string>1091120591415</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.hi.telerehabilitation</string>
	<key>PROJECT_ID</key>
	<string>opentelerehab-e6c99</string>
	<key>STORAGE_BUCKET</key>
	<string>opentelerehab-e6c99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091120591415:ios:23a5bca4a7d09f0e00c5b2</string>
</dict>
</plist>