const settings = {
  apiBaseURL: '{{ patient_api_base_url }}',
  adminApiBaseURL: '{{ admin_api_base_url }}',
  isDebugMode: {{ is_debug_mode }},
  format: {
    date: 'DD MMM YYYY',
    time: 'HH:mm',
  },
  appVersion: '{{ major_release_version }}.{{ minor_release_version }}.{{ patch_release_version }}-{{ stage }}',
};

export default settings;
