const settings = {
  apiBaseURL: '{{ patient_api_base_url }}',
  adminApiBaseURL: '{{ admin_api_base_url }}',
  therapistApiBaseURL: '{{ therapist_api_base_url }}',
  phoneApiBaseURL: '{{ phone_api_base_url }}',
  chatBaseURL: '{{ rocketchat_base_url }}',
  chatWebsocketURL: '{{ chat_websocket_url }}',
  isDebugMode: {{ is_debug_mode }},
  format: {
    date: 'DD/MM/YYYY',
    time: 'HH:mm',
  },
  fileMaxUploadSize: 100, // MB
  downloadFileReadTimeout: 180000, // Milliseconds
  appVersion: '{{ major_release_version }}.{{ minor_release_version }}.{{ patch_release_version }}-{{ stage }}',
  appointmentNotification: 10 // Minute
};

export default settings;
