const settings = {
  defaultAPIStage: '{{ stage }}',
  apiStages: {
    live: '{{ live_api_url }}',
    demo: '{{ demo_api_url }}',
    latest: '{{ latest_api_url }}',
  },
  hasToggleAPIStage: {{ has_toggle_api_stage }},
  isDebugMode: {{ is_debug_mode }},
  format: {
    date: 'DD MMM YYYY',
    time: 'HH:mm',
  },
  appVersion: '{{ major_release_version }}.{{ minor_release_version }}.{{ patch_release_version }}-{{ stage }}',
};

export default settings;
